@using Brightfind.EktronToEpiserverLab.Business.Helpers
@using Brightfind.EktronToEpiserverLab.Business.PartialRouters
@using EPiServer.Web.Mvc.Html
@model Brightfind.EktronToEpiserverLab.Models.ViewModels.BlogListViewModel

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 @Html.EditAttributes(m => m.CurrentPage.Name)>@Model.CurrentPage.Name</h1>
        @Html.PropertyFor(m => m.CurrentPage.Introduction)
        <hr />
        <nav aria-label="page navigation">
            <ul class="pagination">
                @if (Model.CurrentPageNumber > 1)
                {
                    <li>
                        <a href="@Html.BuildUrl(Request.Url.AbsolutePath, new KeyValuePair<string, object>("p", Model.CurrentPageNumber - 1))" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="@(Model.CurrentPageNumber == i ? "active" : string.Empty)">
                        <a href="@Html.BuildUrl(Request.Url.AbsolutePath, new KeyValuePair<string, object>("p", i))">@i</a>
                    </li>
                }

                @if (Model.CurrentPageNumber < Model.TotalPages)
                {
                    <li>
                        <a href="@Html.BuildUrl(Request.Url.AbsolutePath, new KeyValuePair<string, object>("p", Model.CurrentPageNumber + 1))" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <div class="list-group">
            @foreach (var article in Model.Articles)
            {
                <a href="@(!string.IsNullOrEmpty(article.Url) ? article.Url : article.GetUrl(Model.CurrentPage.ContentLink))" title="@article.Name" class="list-group-item">
                    <h4 class="list-group-item-heading">@article.Name</h4>
                    <p class="list-group-item-text">@Html.Raw(article.Teaser)</p>
                    <p class="text-right"><span class="label label-default">@article.Published.ToString("MM/dd/yyyy")</span></p>
                </a>
            }
        </div>
    </div>
</div>