@model Brightfind.EktronToEpiserverLab.Models.ViewModels.EventViewModel
    @{ 
        var apikey = "AIzaSyAB6-Du-AfvNKLKKhdak8RUQwINuXmUo4o";
    }
@Html.FullRefreshPropertiesMetaData(new [] { "Location" })
<div class="row">
    <div class="col-md-6">
        <h1 @Html.EditAttributes(m => m.CurrentPage.Name)>@Model.CurrentPage.Name</h1>
        <p>Location: <span @Html.EditAttributes(m => m.CurrentPage.Location)>@Model.CurrentPage.Location</span></p>
        <p>
            Dates/Times:
        </p>
        <ul>
            @for(var i = 0; i < Model.StartDates.Count(); i++)
            {
                <li>
                    @{ 
                        var start = Model.StartDates.ElementAt(i);
                        var end = Model.EndDates.ElementAt(i);
                        if(start == end)
                        {
                            <text>@start.ToLongDateString()</text>
                            continue;
                        }
                        <text>@start.ToLongDateString() @start.ToLongTimeString() - @end.ToLongDateString() @end.ToLongTimeString()</text>
}
                </li>
            }
        </ul>
        @Html.PropertyFor(m => m.CurrentPage.Description)
    </div>
    <div class="col-md-6">
        <div class="google-map">
            <iframe frameborder="0" style="border: 0" allowfullscreen src="@(string.Format("https://www.google.com/maps/embed/v1/place?key={0}&q={1}", apikey, Model.CurrentPage.Location))"></iframe>
        </div>
    </div>
</div>